body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-main);

  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  text-wrap: balance;
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1310px; // 1280px
}
