:root {
  --font-main: 'Montserrat', sans-serif;
  //--font-accent: 'Playfair Display', sans-serif;

  --color-bg: #fff;
  --color-bg-footer: #ca313e;

  --color-title: #494949;
  --color-text: #333333;
  --color-white: #fff;
  --color-primary: #e63946;
  --color-light-primary: #ff6b6b;
  --color-second-primary: #fff1db;
  --color-border: #d3d3d3;

  --laptop-size: 1199px;
  --tablet-size: 959px;
  --mobile-size: 599px;
}

.dark {
  --color-bg: #252526;
  --color-text: #fff;
}
