:root {
  --font-main: 'Montserrat', sans-serif;
  //--font-accent: 'Playfair Display', sans-serif;

  --color-page-bg: #fff;
  --color-text: #2a254b;
  --color-white: #fff;

  --color-header-item: #726e8d;
  --color-placeholder: rgba(42, 37, 75, 0.2);

  --color-dark-primary: #4b3049;
  --color-primary: #af8fae;
  --color-light-primary: rgba(249, 249, 249, 0.15);

  --color-light-grey: #f9f9f9;
  --color-border-grey: #ebe8f4;
  --color-border-dark: #cac6da;

  --laptop-size: 1199px;
  --tablet-size: 959px;
  --mobile-size: 599px;
}

.dark {
  --color-page-bg: #252526;
  --color-text: #fff;
}
