:root {
  --font-main: 'Montserrat', sans-serif;
  //--font-accent: 'Playfair Display', sans-serif;

  --color-bg: #fff;

  --color-title: #494949;
  --color-text: #333333;
  --color-white: #fff;
  --color-primary: #e63946;
  --color-light-primary: #ff6b6b;
  --color-second-primary: #fff1db;
  --color-border: #d3d3d3;

  --laptop-size: 1199px;
  --tablet-size: 959px;
  --mobile-size: 599px;
}

.dark {
  --color-bg: #252526;
  --color-text: #fff;
}

// Графитовый серый — для текста и акцентов.					#333333
// Нежный — основной цвет.										#ffb58a

// Клубничный розовый — для кнопок и интерактивных элементов.	#ff6b6b
// Малиновый — акцентные кнопки или важные элементы.			#e63946
//   Светлый серый  — для контуров, подложек.					#d3d3d3
// Молочно-белый — основной фон.								#faf9f6
// Бледно-розовый — для фона.									#f8ebe7

//  Светлый ванильный (#FFF1DB)
// Вариант 1

//     Кремовый (#FFF5E1) — как основной фон.
//     Шоколадный коричневый (#8B4513) — для акцентов и текста.
//     Розовый пудровый (#F8C1D9) — для кнопок и подчеркивающих элементов.

// Вариант 2

//     Нежный персиковый (#FCE4D6) — основной цвет фона.
//     Бежевый (#D5B8A3) — для заголовков и акцентов.
//     Малиновый (#E63946) — акцентные кнопки или важные элементы.

// Вариант 3

//     Молочно-белый (#FAF9F6) — основной фон.
//     Светлый серый (#D3D3D3) — для контуров, подложек.
//     Темно-карамельный (#AD6A1F) — для кнопок и основного текста.

// Вариант 4

//     Бледно-розовый (#F8EBE7) — для фона.
//     Графитовый серый (#333333) — для текста и акцентов.
//     Клубничный розовый (#FF6B6B) — для кнопок и интерактивных элементов.

// Вариант 5

//     Светлый ванильный (#FFF1DB) — основной фон.
//     Темный терракотовый (#A74E3C) — для текста и важных элементов.
//     Мятный зеленый (#A8E6CF) — для тонких акцентов или градиентов на кнопках.
