.header {
  & svg {
    width: 16px;
    height: 16px;
  }

  &__top {
  }

  &__bottom {
    background: var(--color-second-primary);
  }

  &__container {
    display: flex;
    align-items: center;

    &--top {
      justify-content: space-between;
      max-width: 1390px;
      padding: 21px 15px;
    }
    &--bottom {
      justify-content: center;
      padding: 18px 15px;
    }
  }

  &__logo {
    color: var(--color-light-primary);
    font-weight: 900;
  }

  &__details {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__nav {
    &--top {
    }

    &--bottom {
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__btn {
    height: 16px;
  }
}

.nav {
  &__list {
    display: flex;
    align-items: center;

    &--top {
      gap: 32px;
    }
    &--bottom {
      gap: 44px;
    }
  }

  &__item {
  }

  &__link {
    padding: 20px 10px;
    color: #000;
    transition: color 0.25s ease-in-out;

    &:hover {
      color: var(--color-primary);
      transition: color 0.25s ease-in-out;
    }
    &:focus {
      color: var(--color-primary);
      transition: color 0.25s ease-in-out;
    }
  }
}
