.cart {
  padding: 84px 0;
  background-color: var(--light-grey);

  &__body {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 70px 63px 55px;
    background-color: var(--white);
  }

  &__table {
    width: 100%;
  }

  &__thead {
    display: block;
    padding-bottom: 16px;
  }
  &__tbody {
    display: block;
    padding: 28px 0;
    border-top: 1px solid var(--light-grey);
    border-bottom: 1px solid var(--light-grey);
  }
  &__tr {
    position: relative;
    display: grid;
    grid-template-columns: 6fr 2fr 2fr;
    column-gap: 15px;
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &__th {
    font-size: 14px;
    font-weight: 400;
  }
  &__th {
  }
}

.cart-item {
  &__quantity,
  &__total {
    padding-top: 11px;
  }
}

.cart-product {
  display: flex;
  width: 100%;

  &__image {
    width: 100%;
    height: auto;
  }
  &__specs {
    padding: 12px 0 12px 24px;
    max-width: 350px;

    & :not(:last-child) {
      margin-bottom: 8px;
    }
  }
  &__title {
  }
  &__descr {
    font-size: 14px;
  }
  &__price {
  }
  &__quantity {
    background: var(--light-grey);
  }
  &__total {
    font-size: 18px;
    line-height: 150%;
  }
}
