.hero-home {
  padding: 60px 0;
  &__flex {
    display: flex;
    color: var(--color-white);
  }
  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 760px;
    padding: 60px;
    background-color: var(--color-dark-primary);
  }
  &__h1 {
    margin-bottom: 40px;
    max-width: 620px;
    color: var(--color-white);
  }

  &__button {
    margin-bottom: auto;
    width: 170px;
  }

  &__descr {
    margin-top: 15px;
    color: var(--color-white);
  }

  &__img {
    flex-shrink: 0;
    width: 520px;
    height: 584px;
    background-color: var(--color-light-grey);
  }
}

.hero-small {
  padding: 123px 0 36px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(54, 54, 54);

  &--catalog {
    background-image: url('../img/headers-catalog.jpg');
    background-image: -webkit-image-set(url('../img/headers-catalog.webp') 1x, url('../img/headers-catalog.jpg') 1x);
    background-image: image-set(
      url('../img/headers-catalog.webp') type('image/webp') 1x,
      url('../img/headers-catalog.jpg') type('image/jpeg') 1x
    );
  }
}
