.product-intro {
  max-width: 305px;
  &--large {
    max-width: 630px;
  }
  &__img {
    max-height: 375px;
    margin-bottom: 24px;
    background-color: var(--border-grey);
  }
  &__title {
    margin-bottom: 8px;
  }
  &__price {
    font-weight: 500;
  }
}

.products-prev {
  padding: 64px 0 48px;

  &__container {
    margin: 0 auto;
    text-align: center;
  }
  &__title {
    margin-bottom: 25px;
    text-align: left;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 50px;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &__item {
    grid-column: 1 span;
  }
  &__item--large {
    grid-column: 2 span;
  }

  &__button {
  }
}

.product-card {
  padding: 50px 0;
  background-color: var(--light-grey);
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 65px;
  }

  &__picture {
  }

  &__image {
  }

  &__info {
    padding: 30px 0;
  }

  &__title {
    margin-bottom: 16px;
  }

  &__price {
    margin-bottom: 28px;
  }

  &__decsr {
    padding-top: 25px;
    margin-bottom: 36px;
    border-top: 1px solid var(--border-grey);
  }

  &__text {
    &:not(:last-child) {
      margin-bottom: 14px;
    }
  }

  &__table {
    margin-bottom: 40px;
  }

  &__table-title {
    margin-bottom: 10px;
  }

  &__quantity {
    margin-bottom: 48px;
  }

  &__buttons :not(:last-child) {
    margin-right: 16px;
  }
}
.pc-table {
  &__head {
    font-size: 14px;
  }

  &__tr {
    display: grid;
    grid-template-columns: minmax(70px, 100px) minmax(100px, 138px) minmax(70px, 100px);
  }

  &__th {
    padding-bottom: 10px;
    font-weight: 400;
  }
  &__th,
  &__td {
    width: 100%;
  }
  &__th:first-child,
  &__td:first-child {
    text-align: left;
    border-right: 1px solid var(--border-grey);
  }
  &__th:last-child,
  &__td:last-child {
    text-align: right;
    border-left: 1px solid var(--border-grey);
  }
  &__th:nth-child(2),
  &__td:nth-child(2) {
    text-align: center;
  }

  &__body {
  }
}
