.product-card {
  max-width: 305px;
  &--large {
    max-width: 630px;
  }
  &__img {
    max-height: 375px;
    margin-bottom: 24px;
    background-color: var(--border-grey);
  }
  &__title {
    margin-bottom: 8px;
  }
  &__price {
    font-weight: 500;
  }
}

.products-prev {
  padding: 64px 0 48px;

  &__container {
    margin: 0 auto;
    text-align: center;
  }
  &__title {
    margin-bottom: 25px;
    text-align: left;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 50px;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &__item {
    grid-column: 1 span;
  }
  &__item--large {
    grid-column: 2 span;
  }

  &__button {
  }
}
