.btn {
  display: inline-block;
  width: auto;
  min-width: 170px;
  padding: 16px 32px;

  font-weight: 400;
  font-size: 16px;
  text-align: center;
  line-height: 150%;

  border-radius: 2px;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;

  @media (max-width: 576px) {
    width: 100%;
    max-width: 300px;
    min-width: 264px;
    padding: 10px 16px;
    font-size: 18px;
  }

  &_functional_subscr {
    @media (max-width: 576px) {
      width: 100%;
      max-width: 120px;
      min-width: 100px;
      padding: 10px 10px;
      font-size: 14px;
    }
    @media (max-width: 420px) {
      width: 100%;
      max-width: 360px;
      min-width: 264px;
      padding: 10px 16px;
      font-size: 18px;
    }
  }

  &_theme {
    &_primary {
      color: var(--color-white);
      background-color: var(--color-primary);
      &:hover {
        background-color: var(--color-light-primary);
      }
    }

    &_primary-light {
      color: var(--color-white);
      background-color: var(--color-light-primary);
      &:hover {
        color: var(--color-text);
        background-color: var(--color-second-primary);
      }
    }

    &_white {
      color: var(--color-text);
      background-color: var(--color-white);
      &:hover {
        color: var(--color-white);
        background-color: var(--color-light-primary);
      }
    }

    &_white_second {
      color: var(--color-text);
      background-color: var(--color-white);
      &:hover {
        color: var(--color-text);
        background-color: var(--color-second-primary);
      }
    }
  }
}
