.btn {
  display: inline-block;
  width: auto;
  min-width: 170px;
  padding: 16px 32px;

  font-weight: 400;
  font-size: 16px;
  text-align: center;
  line-height: 150%;

  border-radius: 2px;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;

  @media (max-width: 576px) {
    width: 100%;
    max-width: 340px;
    min-width: 280px;
  }

  &_theme_primary {
    color: var(--color-white);
    background-color: var(--color-primary);
    &:hover {
      background-color: var(--color-light-primary);
    }
  }

  &_theme_primary-light {
    color: var(--color-white);
    background-color: var(--color-light-primary);
    &:hover {
      color: var(--color-primary);
      background-color: var(--color-white);
    }
  }

  &_theme_primary-light_second {
    color: var(--color-white);
    background-color: var(--color-light-primary);
    &:hover {
      color: var(--color-text);
      background-color: var(--color-second-primary);
    }
  }

  &_theme_white {
    color: var(--color-text);
    background-color: var(--color-white);
    &:hover {
      color: var(--color-text);
      background-color: var(--color-second-primary);
    }
  }
}
