.btn {
  display: inline-block;
  width: auto;
  min-width: 170px;
  padding: 16px 32px;

  font-weight: 400;
  font-size: 16px;
  text-align: center;
  line-height: 150%;

  border-radius: 2px;
  transition: background-color 0.25s ease-in-out;

  @media (max-width: 576px) {
    width: 100%;
    max-width: 340px;
    min-width: 280px;
  }

  // &--color-primary {
  //   color: var(--white);
  //   background-color: var(--dark-primary);
  // }

  &--color-primary-light {
    color: var(--white);
    background-color: var(--primary);
    &:hover {
      background-color: var(--border-dark);
    }
  }

  &--color-light-grey {
    color: var(--dark-primary);
    background-color: var(--border-grey);
    &:hover {
      background-color: var(--border-dark);
    }
  }

  &--color-white {
    color: var(--dark-primary);
    background-color: var(--white);
  }
}
