.checkbox {
  /* Сброс встроенных стилей чекбокса */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid #dcdcdc;
  border-radius: 2px;
  background-color: #fff;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;

  /* Стиль для активного состояния чекбокса */
  &:checked {
    background-color: #4e4d93;
    border-color: #4e4d93;
  }

  /* Кастомный checkbox*/
  &:checked::before {
    content: '';
    position: absolute;
    color: #fff;
    width: 16px;
    height: 16px;
    font-size: 16px;
    left: 1px;
    top: 2px;
    background: url('../img/svg/checkmark.svg') no-repeat;
  }
}
