.search {
  display: inline-block;
  &__fieldset {
    display: flex;
    align-items: center;
  }
  &__input {
    padding: 2px 5px;
    border: 1px solid rgb(241, 241, 241);
  }
  &__input::placeholder {
    color: var(--color-placeholder);
  }
  &__button {
    height: 16px;
    margin-left: 10px;
  }
}

.subscribe {
  display: inline-block;
  background-color: var(--color-primary);
  &__fieldset {
    display: flex;
    align-items: center;
    max-width: 200px;
  }
  &__input {
    padding: 16px 32px;
    width: 340px;

    border: 1px solid rgb(241, 241, 241);
    background: var(--color-light-grey);
  }
  &__input::placeholder {
    color: rgba(42, 37, 75, 0.2);
  }
  &__button {
    padding: 16px 32px;
    color: white;
    background-color: var(--color-primary);
  }
}
