.title-36,
.title-32,
.title-24,
.title-20,
.title-18 {
  line-height: 140%;
  color: #2a254b;
  &--white {
    color: var(--white);
  }
}

.title-36 {
  font-size: 36px;
}
.title-32 {
  font-size: 32px;
}
.title-24 {
  font-size: 24px;
}
.title-20 {
  font-size: 20px;
}
.title-18 {
  font-size: 18px;
  line-height: 150%;
}
.title-14 {
  font-size: 14px;
  color: var(--white);
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
