.cart {
  padding: 84px 0;
  background-color: var(--color-light-grey);

  &__content {
    max-width: 1280px;
    padding: 72px 62px 54px;
    background-color: var(--color-white);
  }

  &__header {
    margin-bottom: 16px;
  }

  &__list {
    margin-bottom: 16px;
  }

  &__item {
  }

  &__footer {
  }
}
