.cart {
  padding: 84px 0;
  background-color: var(--color-second-primary);

  &__content {
    max-width: 1280px;
    padding: 72px 62px 54px;
    background-color: var(--color-white);

    @media (max-width: 768px) {
      padding: 30px 20px;
    }
  }

  &__header {
    margin-bottom: 16px;
  }

  &__list {
    margin-bottom: 16px;
    @media (max-width: 576px) {
      margin-bottom: 40px;
    }
  }

  &__item {
  }

  &__footer {
  }
}
