.cart-product {
  display: flex;
  gap: 15px;

  @media (max-width: 420px) {
    flex-direction: column;
  }

  &__image {
    max-width: 109px;
  }
  &__specs {
    max-width: 400px;
    & :not(:last-child) {
      margin-bottom: 8px;
    }
  }
  &__descr {
    font-size: 14px;
  }
}
