.cart-footer {
  display: flex;
  justify-content: space-between;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 10px;
  }
  @media (max-width: 576px) {
    flex-direction: column;
    gap: 30px;
  }

  &__delivery-info {
    font-size: 14px;
  }

  &__summary {
    margin-bottom: 16px;
  }

  &__total-price {
    margin-bottom: 16px;
    font-size: 20px;
  }

  &__total-value {
    font-size: 24px;
  }

  &__order-button {
    align-items: end;
  }
}
