.product-card {
  padding: 50px 0;
  background-color: var(--color-second-primary);

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 65px;

    @media (max-width: 960px) {
      gap: 35px;
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  &__picture {
  }

  &__image {
    max-width: 500px;
  }

  &__info {
  }

  &__title {
    margin-bottom: 16px;
  }

  &__price {
    margin-bottom: 28px;
  }

  &__decsr {
    padding-top: 25px;
    margin-bottom: 36px;
    border-top: 1px solid var(--color-border);
  }

  &__text {
    &:not(:last-child) {
      margin-bottom: 14px;
    }
  }

  &__table {
    margin-bottom: 40px;
  }

  &__table-title {
    margin-bottom: 10px;
  }

  &__quantity {
    margin-bottom: 48px;
  }

  &__buttons :not(:last-child) {
    margin-right: 16px;

    @media (max-width: 576px) {
      margin-right: 0;
      margin-bottom: 16px;
    }
  }
}
.pc-table {
  border-collapse: collapse;

  &__head {
    font-size: 14px;
  }

  &__tr {
    display: grid;
    grid-template-columns: minmax(70px, 100px) minmax(100px, 138px) minmax(70px, 100px);
  }

  &__th {
    padding-bottom: 10px;
    font-weight: 400;
  }
  &__th,
  &__td {
    width: 100%;
  }
  &__th:first-child,
  &__td:first-child {
    text-align: left;
    border-right: 1px solid var(--color-border);
  }
  &__th:last-child,
  &__td:last-child {
    text-align: center;
    border-left: 1px solid var(--color-border);
  }
  &__th:nth-child(2),
  &__td:nth-child(2) {
    text-align: center;
  }

  &__body {
  }
}
