.products-prev {
  padding: 64px 0 48px;

  &__container {
    margin: 0 auto;
    text-align: center;
  }
  &__title {
    margin-bottom: 25px;
    text-align: left;

    @media (max-width: 769px) {
      text-align: center;
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 50px;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
      row-gap: 50px;
    }
    @media (max-width: 769px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 576px) {
      grid-template-columns: 1fr;
    }
  }
  &__item {
    grid-column: 1 span;
    justify-self: center;
  }
  &__item--large {
    grid-column: 2 span;
  }

  &__button {
  }
}
