.catalog {
  &__container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  &__aside {
    padding: 48px 0;
    @media (max-width: 768px) {
      padding: 48px 20px;
    }
  }

  &__body {
    padding: 36px 0 120px;
    text-align: center;
  }

  &__list {
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 36px;
    column-gap: 20px;
    margin-bottom: 32px;

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item {
    text-align: left;
    @media (max-width: 768px) {
      text-align: center;
    }
  }
}
